{% extends 'base.html'%}

{% block title %}Sign Up!{% endblock %}

{% block contents %}
<div class="col-md-8 offset-md-2">
<h1>Sign Up!</h1>
<h3></h3>
<form id="register-form" action="/register" method="post">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    

        <div class="form-group">
            <fieldset>
              {{ field.label(class="control-label") }}
              {{ field(class="form-control") }}
            </fieldset>
            
          </div>

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}

  {% endfor %}

  <button type="submit">Submit</button>
</form>
</div>
{% endblock %}