{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block contents %}
    <h2>{{user.username}}'s Profile</h2>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Username: {{user.username}}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Email: {{user.email}}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            First Name: {{user.first_name}}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Last Name: {{user.last_name}}
        </li>
    </ul>

    {% if session.username == user.username %}
        <a href="/users/{{user.username}}/feedback/add" class="btn btn-info">Add Feedback</a>
        <a href="/users/{{user.username}}/delete" class="btn btn-danger">Delete User</a> 
    {% endif %}
    <hr>
    <h3>{{user.username}}'s Feedback</h3>
    <div>
        {% for post in posts %}
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">{{post.title}}</h4>
              <p class="card-text">{{post.content}}</p>
                {% if user.username == post.username %}
                    <a href="/feedback/{{post.id}}/update" class="btn btn-info">Update</a>
                    <form action="/feedback/{{post.id}}/delete" method="post"><button class="btn btn-danger" type="submit">Delete</button></form>
                {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>

{% endblock %}